@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.hero-container {
  background: url(/src/Assets/header/hero/hero-img-desktop.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.first-cat {
  background: url(/src/Assets/categories/flats.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.sec-cat {
  background: url(/src/Assets/categories/heels.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.third-cat {
  background: url(/src/Assets/categories/clogs.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.giftshop-img-holder {
  background: url(/src/Assets/gift_shop/accessories.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}