@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.hero-container {
  background: url(/src/Assets/header/hero/hero-img-desktop.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.first-cat {
  background: url(/src/Assets/categories/flats.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.sec-cat {
  background: url(/src/Assets/categories/heels.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.third-cat {
  background: url(/src/Assets/categories/clogs.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.giftshop-img-holder {
  background: url(/src/Assets/gift_shop/accessories.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.carousel__dots {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.carousel__dots .dot {
  background: #e2e1e1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  margin: 0 0.5rem;
  outline: none;
  width: 1rem;
  transition: background-color 0.3s;
}

.carousel__dots .dot.active {
  background: #ffffff;
}

.customer_carousel__dots {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.customer_carousel__dots .customer_dot {
  background: #e2e1e1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 1rem;
  margin: 0 0.5rem;
  outline: none;
  width: 1rem;
  transition: background-color 0.3s;
}

.customer_carousel__dots .customer_dot.active {
  background: #ffffff;
}